{% extends "encyclopedia/layout.html" %} 
{% block title %} New Wiki {% endblock %}
{% block body %}

<form action="/add" method="post">
  <fieldset>
    {% csrf_token %}

    <h1>Create a new page</h1>
    <div>
      <input
        type="text"
        name="header"
        placeholder="Create header for the page"
        autofocus
      />
    </div>

    <div>
      <textarea
        rows="5"
        name="content"
        placeholder="Create content for the page"
      ></textarea>
    </div>
    <p>
      <button type="submit">Submit</button>
    </p>
  </fieldset>
</form>

{% endblock %}
